.element {
  width: 500px;

  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 20px;
}



.slick-arrow.slick-next {
display: none !important;
}

.slick-arrow.slick-prev {
  display: none !important;

}