.header {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.line {
    position: relative;
}

.line::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -22px;
    width: 100%;
    height: 2px;
    background: #B56DFF;

}

.logo {
    font-size: 27px;
    font-weight: bolder;
    color: #B56DFF;
}

.header-mobile.aktiv {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 99999;
    height: 100vh;
    display: inline-block;
}